<!DOCTYPE html>
<html>
    <head>
        <title><%= jobBusiness %></title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1><%= jobBusiness %></h1>
        <p> Welcome to <%= jobBusiness %></p>
    </body>
</html>